!
! Last configuration change at 14:59:54 AST Mon Sep 14 2026 by xxxxxxxx.xx
!
version 17.12
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone year
service timestamps log datetime msec localtime show-timezone year
service sequence-numbers
no platform punt-keepalive disable-kernel-core
no platform punt-keepalive settings
platform console serial
!
hostname CSC-EWC-KRD01-02
!
boot-start-marker
boot-end-marker
!
!
aaa new-model
!
!
aaa authentication login default local
!
!
aaa session-id common
clock timezone AST 3 0
no fips authorization-key
!
!
!
!
ip name-server 10.23.0.1 178.155.7.17 178.155.7.18
ip domain timeout 1
ip domain name krd01.corp.xxx-yyy.ru
login on-success log
!
!
!
!
!
!
flow exporter default-flow-exporter
 destination local wlc
!
!
flow monitor default-flow-monitor
 exporter default-flow-exporter
 record wireless avc basic
!
!
crypto pki trustpoint TP-self-signed-1859115668
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-1859115668
 revocation-check none
 rsakeypair TP-self-signed-1859115668
 hash sha512
!
!
crypto pki certificate chain TP-self-signed-1859115668
 certificate self-signed 01
  30820330 30820218 A0030201 02020101 300D0609 2A864886 F70D0101 0D050030 
  31312F30 2D060355 04030C26 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 31383539 31313536 3638301E 170D3236 30383133 31323337 
  31315A17 0D333630 38313231 32333731 315A3031 312F302D 06035504 030C2649 
  4F532D53 656C662D 5369676E 65642D43 65727469 66696361 74652D31 38353931 
  31353636 38308201 22300D06 092A8648 86F70D01 01010500 0382010F 00308201 
  0A028201 0100A226 0F62EEBD BB7A7B33 6382F511 B22CBE0F C0597334 9345963B 
  0B2130DB F344180C 59B4DD8A 16AEA3A7 6107F109 8E9307A7 98B0C878 B99FF26D 
  5ECEEB94 C78F8620 2C201013 B88DBBA0 BBDB565C FC85E4DA 0E24AC4C 490E37A9 
  D430223B 73CD1A88 BA51F540 6CFD3FFE 4EFAFF04 5CB294D1 B09060A8 F063314D 
  AF1CF548 A1B5EFAE CE74B4BA BD3FCEA6 DC4254DD 36261F93 5006E8D0 486F388D 
  6AB552E2 235B8BF6 D958A22E A658BE4B 07C167AF 3A00EE24 FE7A55E3 4225DAEE 
  71DAF8B6 BE6F3282 242BF378 4964BD7E 58D67891 A5D0448D 08970919 50E4FC1A 
  A7B9BC29 3385DB51 542DB6EA 67BDFF27 768CAB13 5FDBB936 1E46132F 585B2754 
  38DAA28F F9370203 010001A3 53305130 1D060355 1D0E0416 0414B3CC B2783282 
  8D35C347 9101519A D7252E73 151B301F 0603551D 23041830 168014B3 CCB27832 
  828D35C3 47910151 9AD7252E 73151B30 0F060355 1D130101 FF040530 030101FF 
  300D0609 2A864886 F70D0101 0D050003 82010100 3814DB3F 6FDA2F22 A4C6931E 
  31700DB3 2B3D1838 49E25CDB 24262198 93091E99 A1EFD95D 64E1EF53 A491E7AD 
  F9B50805 541F60DD 67F5422B 9E21EA6B 262A6663 709126A1 F1AC535C 79163FAD 
  27FD4292 130A0912 9C678B2C 37F3FA89 6462C823 7E353842 2D3C68E6 6953D677 
  93F28D43 C59B209C B650D504 A85B1533 F59C3A87 9F511F6A ACFD13ED 99B4AD20 
  CF4EA6C5 EC6064D8 0128AA57 8A644EF7 CDE0C171 0F772377 D90A75C9 7A6E5A17 
  F0FF72FD EAD9ED41 E372A08A 7B2F1632 0914D2B7 769BF205 8409377E B36E2096 
  3C14EB79 BD2976A2 0F9D7CA1 F56BC700 8A92A5D5 0458E2E5 FFE34A6A CEB08D3C 
  12F8C9F4 43AC1F9F F369D68A 5633D69B 558AE99C
  	quit
!
!
memory free low-watermark processor 12561
device classifier
license udi pid C9800-AP sn FGL2604L2KD
!
!
username xxxxxxxx.xx privilege 15 secret 9 $9$E7M0I4gXmf6OtE$1LK8cQ3TAkbFsLCRrPpdGFgC9hBE9UndyeXhR4d6Yu2
!
redundancy
 mode sso
!
crypto engine compliance shield disable
!
!
!
!
!
!
!
interface GigabitEthernet0
 mac-address 0000.5e00.0101
 ip dhcp client client-id GigabitEthernet0
 ip dhcp client broadcast-flag clear
 ip address 10.23.0.6 255.255.255.248
 no negotiation auto
!
ip forward-protocol nd
ip tftp blocksize 8192
ip http server
ip http authentication local
ip http secure-server
ip http secure-trustpoint CISCO_IDEVID_SUDI
ip http client source-interface GigabitEthernet0
ip ssh maxstartups 3
ip ssh bulk-mode 131072
ip ssh time-out 60
ip ssh authentication-retries 5
ip ssh rsa keypair-name SSH-RemoteControl-KeyPair
ip ssh server algorithm mac hmac-sha2-256 hmac-sha2-512
ip ssh server algorithm encryption aes256-ctr aes192-ctr aes128-ctr
ip ssh server algorithm kex diffie-hellman-group14-sha1
ip ssh client algorithm mac hmac-sha2-256 hmac-sha2-512
ip ssh client algorithm encryption aes256-ctr aes192-ctr aes128-ctr
ip ssh client algorithm kex diffie-hellman-group14-sha1
ip route 0.0.0.0 0.0.0.0 GigabitEthernet0 250
ip dns server
!
!
!
!
!
!
control-plane
!
banner exec ^C
########################################################################################################
#                                                                                                      #
#      Welcome to the Cisco Catalyst C9800-AP Embedded Wireless Controller command line interface      #
#                                                                                                      #
# Please see command reference guide for the complete list of supported commands for this release:     #
# https://www.cisco.com/c/en/us/td/docs/wireless/embedded_wireless_controller_configuration_guide.html #
#                                                                                                      #
########################################################################################################
^C
!
line con 0
 stopbits 1
line vty 0 4
 exec-timeout 15 0
 privilege level 15
 logging synchronous
 length 0
 transport input ssh
 transport output ssh
line vty 5 15
 exec-timeout 15 0
 privilege level 15
 logging synchronous
 transport input ssh
 transport output ssh
!
ntp server 10.23.0.1
!
!
!
!
!
wireless aaa policy default-aaa-policy
wireless cts-sxp profile default-sxp-profile
wireless management interface GigabitEthernet0
wireless profile airtime-fairness default-atf-policy 0
wireless profile flex Krasnodar
wireless profile flex default-flex-profile
 description "default flex profile"
wireless profile image-download default
 description "default image download profile"
wireless profile mesh default-mesh-profile
 description "default mesh profile"
wireless profile radio default-radio-profile
 description "Preconfigured default radio profile"
wireless profile policy Krasnodar_WLANID_2
 no central association
 no central dhcp
 no central switching
 description Krasnodar_MK-TEAM
 vlan 200
 no shutdown
wireless profile policy Krasnodar_WLANID_3
 no central association
 no central dhcp
 no central switching
 description Krasnodar_MK-DEVICE
 vlan 210
 no shutdown
wireless profile policy Krasnodar_WLANID_4
 no central association
 no central dhcp
 no central switching
 description Krasnodar_MK-TALK
 vlan 220
 no shutdown
wireless profile policy Krasnodar_WLANID_5
 no central association
 no central dhcp
 no central switching
 description Krasnodar_MK-OTHER
 vlan 230
 no shutdown
wireless profile policy Krasnodar_WLANID_6
 no central association
 no central dhcp
 no central switching
 description Krasnodar_MK-GUEST
 vlan 240
 no shutdown
wireless profile policy default-policy-profile
 no central association
 no central dhcp
 no central switching
 description "default policy profile"
 dhcp-tlv-caching
 http-tlv-caching
 ipv4 flow monitor default-flow-monitor input
 ipv4 flow monitor default-flow-monitor output
 no shutdown
wireless tag site default-site-tag
 ap-profile Krasnodar
 description "default site tag"
 no local-site
 flex-profile Krasnodar
wireless tag policy default-policy-tag
 description "default policy-tag"
 wlan test policy default-policy-profile
 wlan MK-TALK policy Krasnodar_WLANID_4
 wlan MK-TEAM policy Krasnodar_WLANID_2
 wlan MK-GUEST policy Krasnodar_WLANID_6
 wlan MK-OTHER policy Krasnodar_WLANID_5
 wlan MK-DEVICE policy Krasnodar_WLANID_3
wireless tag rf default-rf-tag
 24ghz-rf-policy Typical_Client_Density_rf_24gh
 5ghz-rf-policy Typical_Client_Density_rf_5gh
 description "default RF tag"
wireless country RU
wlan test 1 test
 security wpa psk set-key ascii 0 !Password!
 no security wpa akm dot1x
 security wpa akm psk
wlan MK-TALK 4 MK-TALK
 band-select
 peer-blocking drop
 no security ft adaptive
 security wpa psk set-key ascii 0 !Password!
 no security wpa akm dot1x
 security wpa akm psk
 no shutdown
wlan MK-TEAM 2 MK-TEAM
 band-select
 peer-blocking drop
 no security ft adaptive
 security wpa psk set-key ascii 0 !Password!
 no security wpa akm dot1x
 security wpa akm psk
 no shutdown
wlan MK-GUEST 6 MK-GUEST
 no security ft adaptive
 security wpa psk set-key ascii 0 !Password!
 no security wpa akm dot1x
 security wpa akm psk
wlan MK-OTHER 5 MK-OTHER
 band-select
 peer-blocking drop
 no security ft adaptive
 security wpa psk set-key ascii 0 !Password!
 no security wpa akm dot1x
 security wpa akm psk
 no shutdown
wlan MK-DEVICE 3 MK-DEVICE
 peer-blocking drop
 no security ft adaptive
 security wpa psk set-key ascii 0 !Password!
 no security wpa akm dot1x
 security wpa akm psk
 no shutdown
ap dot11 24ghz rf-profile Low_Client_Density_rf_24gh
 coverage data rssi threshold -90
 coverage level 2
 coverage voice rssi threshold -90
 description "pre configured Low Client Density rfprofile for 2.4gh radio"
 high-density rx-sop threshold low
 rate RATE_12M supported
 rate RATE_24M supported
 rate RATE_6M supported
 tx-power v1 threshold -65
 no shutdown
ap dot11 24ghz rf-profile High_Client_Density_rf_24gh
 description "pre configured High Client Density rfprofile for 2.4gh radio"
 high-density rx-sop threshold medium
 rate RATE_11M disable
 rate RATE_12M mandatory
 rate RATE_1M disable
 rate RATE_24M supported
 rate RATE_2M disable
 rate RATE_5_5M disable
 rate RATE_6M disable
 tx-power min 7
 no shutdown
ap dot11 24ghz rf-profile Typical_Client_Density_rf_24gh
 description "pre configured Typical Client Density rfprofile for 2.4gh radio"
 rate RATE_11M disable
 rate RATE_12M mandatory
 rate RATE_1M disable
 rate RATE_24M supported
 rate RATE_2M disable
 rate RATE_5_5M disable
 rate RATE_6M disable
 no shutdown
ap dot11 24ghz rrm channel dca interval 1
ap dot11 24ghz rrm monitor channel-list dca
ap dot11 24ghz rate RATE_11M disable
ap dot11 24ghz rate RATE_12M mandatory
ap dot11 24ghz rate RATE_1M disable
ap dot11 24ghz rate RATE_24M supported
ap dot11 24ghz rate RATE_2M disable
ap dot11 24ghz rate RATE_5_5M disable
ap dot11 24ghz rate RATE_6M disable
ap dot11 24ghz rate RATE_9M disable
ap dot11 5ghz rf-profile "20 GHz"
 channel chan-width 20
 channel remove 100
 channel remove 104
 channel remove 108
 channel remove 112
 channel remove 116
 channel remove 120
 channel remove 124
 channel remove 128
 channel remove 165
 channel remove 169
 channel remove 173
 description "20 GHz"
 rate RATE_12M mandatory
 rate RATE_24M supported
 rate RATE_6M disable
 rate RATE_9M disable
ap dot11 5ghz rf-profile Low_Client_Density_rf_5gh
 coverage data rssi threshold -90
 coverage level 2
 coverage voice rssi threshold -90
 description "pre configured Low Client Density rfprofile for 5gh radio"
 high-density rx-sop threshold low
 rate RATE_12M mandatory
 rate RATE_24M mandatory
 rate RATE_6M mandatory
 tx-power v1 threshold -60
 no shutdown
ap dot11 5ghz rf-profile High_Client_Density_rf_5gh
 description "pre configured High Client Density rfprofile for 5gh radio"
 high-density rx-sop threshold medium
 rate RATE_12M mandatory
 rate RATE_24M mandatory
 rate RATE_6M disable
 rate RATE_9M disable
 tx-power min 7
 tx-power v1 threshold -65
 no shutdown
ap dot11 5ghz rf-profile Typical_Client_Density_rf_5gh
 description "pre configured Typical Density rfprofile for 5gh radio"
 rate RATE_12M mandatory
 rate RATE_24M mandatory
 rate RATE_6M mandatory
 no shutdown
ap dot11 5ghz rrm channel dca interval 1
ap dot11 5ghz rrm monitor channel-list dca
ap dot11 5ghz rrm channel dca remove 100
ap dot11 5ghz rrm channel dca remove 104
ap dot11 5ghz rrm channel dca remove 108
ap dot11 5ghz rrm channel dca remove 112
ap dot11 5ghz rrm channel dca remove 116
ap dot11 5ghz rrm channel dca remove 120
ap dot11 5ghz rrm channel dca remove 124
ap dot11 5ghz rrm channel dca remove 128
ap dot11 5ghz rrm channel dca remove 165
ap dot11 5ghz rrm channel dca remove 169
ap dot11 5ghz rrm channel dca remove 173
ap dot11 5ghz rate RATE_12M mandatory
ap dot11 5ghz rate RATE_24M mandatory
ap dot11 5ghz rate RATE_6M disable
ap dot11 5ghz rate RATE_9M disable
ap tri-radio
ap tag-source-priority 2 source filter
ap tag-source-priority 3 source ap
ap location name Krasnodar
ap profile Krasnodar
ap profile default-ap-profile
 country RU
 description "default ap profile"
 mgmtuser username admingrn.dk password 9 $9$sdf;gldsfoi;xfs,.d987FREMFOT/fs,HTfgflGF$ls;fsdgkYHGRDX87$ secret 9 $9$MH90ghbukfotybt67.l[poYHCSWdjyjdIU7^GTrdj;943gfcwqlhHY8jjh
 ntp ip 10.23.0.1
 timezone use-controller
end
